@supports (font-variation-settings: "wght" 400) {
*, ul{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #737373;
    box-sizing: border-box;
    font-weight: 400
}
}
.container{
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.wrap-header{
	position: absolute;
    z-index: 2;
    width: 100%;
    top: 62px;
}
.wrap-header .logo{
	display: flex;
    align-items: center;
    height: 100%;
}
.wrap-header .logo a{
	text-decoration: none;
	display: block;
}
.wrap-header .logo h1{
	margin:0;
	display: flex;
	font-size: 34px;
	color: #fff;
    font-weight: 500;
    letter-spacing: 1.3px;

}
.wrap-header .menu{
	display: flex;
    height: 100%;
    align-items: center;
}
.wrap-header .menu ul.list-menu{
	display: block;

}
.menu .list-menu li.item-menu{
	display: inline-block;
	text-transform: capitalize;
	text-decoration: none;
	font-size: 20px;
	padding: 10px 16px;
	border-radius: 25px;
	transition: .3s
}
.menu .list-menu a.item_menuHeader{
	display: inline-block;
	color: #fff;
	text-decoration: none;
    position: relative;
    transition: .3s
}
.menu .list-menu a.item_menuHeader:before{
	content: "";
	width: 0px;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: 0;
    transition: .3s;
}
.menu .list-menu li.item-menu:hover a.item_menuHeader:before{
	width: 100%
}

.wrap-header .tryFor{
}
.wrap-header .tryFor a{
	background: #fff;
	border-radius: 30px;
	display: inline-block;
	color: #4085F6;
	text-decoration: none;
	padding: 18px 44px;
	font-size: 25.33px;
	font-family: 'Montserrat', sans-serif;
}
.wrap-header .row>div.col-md-2:first-child{
	flex: 0 0 15%;
	max-width: 15%;
} 
.wrap-header .row>div.col-md-8{
	flex: 0 0 63%;
	max-width: 63%;
}
.wrap-header .row>div.col-md-2:last-child{
	flex: 0 0 22%;
	max-width: 22%
}
@media (min-width: 768px){
.col-md-2{
	flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.row .col-md-8{
	flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
 
    max-width: 41.666667%;
}.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
}
.row [class*= col-]{
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	width: 100%;
}
/*sectionheader*/
.section-header{
	position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    /*margin-bottom: 50px*/
}
.section-header img{
	object-fit: cover;
}
.section-header .image_item{
position: absolute;
top: 0;
right: 0;
z-index: 1;
}
.wrap-main-header .img-main img{
	max-width: 100%;
	display: inline-block;
    border-radius: 55px;
	box-shadow: 0px 2px 36px #a5a5a5c7;
}
.wrap-main-header .img-main>div{
    display: inline-block;
    border-radius: 68px;
}
.image-header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}
.content_ h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 46px;
	color: #fff;
	font-weight: 500;
	line-height: 62px;
	margin-bottom: 30px
}
.content_ p{
	color: #fff;
	margin-bottom: 35px;
	line-height: 36px
}
.wrap-main-header{
	display: flex;
	position: relative;
	padding-top: 245px;
	color: #fff;
	padding-bottom: 107px
}
.wrap-main-header .img-main{
	width: 45%;
}
.wrap-main-header .content-main{
	position: relative;
	width: 55%;
	color: #fff
}
.wrap-main-header .content-main .content_{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	text-align: right;
}
.content_ .app-check{
	padding-top: 45px
}
.content_ .app-check a{
	display: inline-flex;
	background:#22233A;
	padding: 7px 38px;
	border-radius: 45px;
	text-decoration: none
}
.content_ .app-check .app-store{
	margin-right: 20px
}
.app-check .img-logo{
	margin-right: 24px;
}
.app-check .img-logo img{
	width: 29px;
    object-fit: cover;
    margin-top: 17px
}
.app-check .name-app{
	text-align: left;
}
.app-check .name-app span{
	display: block;
	color: #fff;
	text-transform: capitalize;
	font-size: 13px;
	line-height: 35px
}
.app-check .name-app span:last-child{
	font-size: 20px;
	line-height: 35px
}
.wrap-header .menu nav .close{
		display: none;
	}
/*about*/
.about{
	margin-bottom: 90px
}
.wrap-title{
	width: 80%;
	margin:auto;
	padding:90px 0 90px;
	text-align: center;
}
.about .wrap-title{}
.wrap-title h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
	text-transform: capitalize;
	margin-bottom: 42px;
	font-weight: 500;
	line-height: 36px
}
.wrap-title p{
	line-height: 36px
}
.about .wrap-item-about{
	display: block;
	border-color: #707070;
	box-shadow: 0px 2px 20px #221f1f29;
	color: #fff;
	text-decoration: none;
}
.about .wrap-item-about .img-about{
	padding: 55px 30px 50px;
	display: block;
	text-align: center;
	font-size: 16px!important
}
.about .wrap-item-about img{
	display: inline-block;
}
.about .wrap-item-about .name-item-about{
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	line-height: 36px;
	font-weight: 500;
	margin:33px 0 30px;
	transition: .3s
}
.about .wrap-item-about p{
	display: block;
	font-size: 16px;
	line-height: 30px
}
.about .wrap-item-about:hover .name-item-about{
	color: #4085F6
}
/*features*/
.features{
	position: relative;
	margin-bottom: 60px;
	background-image: url(../images/fear.png);
}
.features .background-features{
	position: relative;
	top: 0;
	width: 100%;
	object-fit: cover;
}
.features .content-features{
	padding-bottom: 234px
}
.features .wrap-title{
	margin-bottom: 30px
}
.features .wrap-title h3,
.features .wrap-title p{
	color: #fff!important
}
.features .content-item-features{}
.features .content-item-features h4{
	font-size: 20px;
	color: #fff;
	margin-bottom: 23px;
	display: block;
	font-weight: 500;
	line-height: 36px;
	font-family: 'Montserrat', sans-serif;
}
.features .content-item-features p{
	font-size: 16px;
	color: #fff;
	line-height: 30px
}
.list-features li{
	list-style: none;
    display: flex;
    padding-top: 25px
}
.list-features li:first-child{
	padding-top: 0
}
.list-features li .img-List-features{
	padding-right: 36px
}
.list-features .img-List-features img{}
.list-features{
	height: 100%
}
.list-features ul{
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}
.features .img-features img{
	max-width: 100%;
	object-fit: cover
}
/*pricing*/
.pricing{
	background: #F8F6F6;
	padding:30px 0px 120px 0;
}
.pricing .img-about{
	/*padding:30px 0px;*/
	text-align: center;
	transition: .3s;
	border-radius: 10px;
	border: 2px solid transparent;
}
.pricing .img-about>div{
	border-radius: 10px;
	border:2px solid #226BE2;
	padding:40px 20px;
	/*transition: .3s*/
}
.pricing .col-md-4{
}
@supports (font-variation-settings: "wght" 600) {
	.pricing .name-item-about{
		font-size: 24px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		line-height: 36px;
		margin-bottom: 23px

	}
}
@supports (font-variation-settings: "wght" 400) {
.pricing .pricing-pce{
	font-size: 36px;
	color: #4085F6;
	display: block;
	font-weight: 400;
	line-height: 36px;
    margin-bottom: 23px;
}
}
@supports (font-variation-settings: "wght" 500) {
.pricing .name-pricing{
	font-size: 18px;
	font-weight: 500;
	margin: 5px 0 15px;
	display: block;
	line-height: 36px;

}
}
.pricing .listaa{
	margin: 20px 0;
}
.pricing .listaa span{
	font-size: 14px;
	display: inline-block;
	margin-left: 5px;
}
.pricing .listaa>p{
	display: block;
	position: relative;
	line-height: 34px
}
.pricing .listaa>p i{
	display: inline-block;
    width: 12px;
    height: 7px;
    border-left: 3px solid #2068DE;
    border-bottom: 3px solid #2068DE;
    transition: .3s;
    transform: rotate(-45deg);
}
.pricing .listaa>p i:before{
	content: "";
}
.pricing .purchase{
	text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    border: 2px solid #226BE2;
    border-radius: 30px;
    padding: 8px 55px;
    line-height: 36px;
}
.pricing .img-about:hover .name-item-about,
.pricing .img-about:hover .pricing-pce,
.pricing .img-about:hover .name-pricing,
.pricing .img-about:hover .listaa span{
	color: #fff
}
.pricing .img-about:hover .purchase{
	background:#fff;
	color: #2068DE;
}
.pricing .img-about:hover .listaa>p i{
	border-color: #fff
}
.pricing .img-about:hover{
	background:#2068DE;
	border:2px solid #226BE2;
	padding:30px 0px;
	margin:-30px 0;
}
.pricing .img-about:hover>div{
	border-color: transparent;
}
/*screeen*/
.screenshots .slider-screen .owl-theme .owl-dots{
	display: none
}
.screenshots .owl-theme .owl-nav {
    margin-top: 30px;
}
.screenshots .owl-carousel .owl-nav button span{
	display: none;
}
.screenshots .owl-carousel .owl-nav button{
	position: relative;
	width: 50px;
	height: 50px;
}
.screenshots .owl-carousel .owl-nav button.owl-prev{}
.screenshots .owl-carousel .owl-nav button.owl-next{}
.screenshots .owl-carousel .owl-nav button.owl-prev:before{
	position: absolute;
	content: url(../images/next.png);
	top: 0;
	left: -30px;
}
.screenshots .owl-carousel .owl-nav button.owl-next:before{
	content: url(../images/prev.png);
	position: absolute;
	top: 0;
	right: -30px
}
.screenshots .owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
}

button,button:active{
	outline: none;
	outline-width: 0;
	outline-style: none
}

#next {
    right: 10px;;
}

#prev {
    left: 10px;
}
.controlSlide .btn-change {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
}
#slider-screen{
	padding:20px 0;
	position: relative;
}
.slider-screen .slide{
	display: inline-block;
}

 #slider-screen .slide {
    width: 20%;
    height: auto;
}

#slider-screen .slide:not(:first-child) {
    display: none;
}



/*say-to*/
.say-to{
	background: #F8F6F6;
	padding-bottom: 145px
}
.say-to .wrap-form-message{
	
}
.say-to .wrap-title h3{ position: relative; line-height: 46px }
.say-to .wrap-title h3:after{
 content:"";
display: flex;
    width: 70px;
    height: 3px;
    background: #226BE2;
    margin: 0 auto;
    flex-wrap: wrap;
}
.wrap-form-message .location>div{
	background: #fff;
	padding:25px;
	height: calc(100% - 8px);
}
.wrap-form-message .location .item-location{
	line-height: 1;
	margin-bottom: 20px;
	display: flex;
}
.wrap-form-message .location .item-location:last-child{
	margin-bottom: 0
}
.wrap-form-message .location .item-location .icon_loca{
	margin-right: 25px;
	margin-top: 10px
}
@supports (font-variation-settings: "wght" 500) {
.wrap-form-message .location b{
	font-size: 17px;
	margin-bottom: 7px;
	color: #3B3B3B;
    line-height: 35px;
    font-weight: 500
}
.wrap-form-message .location .name-location{
font-size: 15.5px;
line-height: 35px;
}
.wrap-form-message .form-message{

}
.wrap-form-message .form-message input,
.wrap-form-message .form-message textarea{
	width: 100%;
	background:#fff;
	margin-bottom: 25px;
	padding: 13px 15px;
	border:none;
	font-size: 15.5px
}
.wrap-form-message .form-message input{}
.wrap-form-message .form-message textarea{
	margin-bottom: 0
}
.wrap-form-message .form-message button{
	    font-size: 15.5px;
    display: inline-block;
    background: #226BE2;
    position: absolute;
    bottom: -65px;
    left: 15px;
    color: #fff;
    padding: 13px 15px;
    border: none;
    cursor: pointer;
    line-height: 18px;
    transition: .3s
}
input, input:focus,textarea,textarea:focus, button, button:focus{
	outline-style: none;
	outline-width: 0;
	outline: none;
}
.wrap-form-message .form-message button:hover{
	border-radius: 10px
}
/*footer*/
footer{
	padding:120px 0;
	background:#13253B;
	color: #fff;
	font-size: 15.5px
}
footer div{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 21px
}
footer div.col-md-6>div{
	margin-top: 5px

}
footer div,
footer ul li i{
	color: #fff;
}
footer ul li i{
	font-size:28px;
	line-height: 36px;
	transition: .3s

}
footer ul li i:hover{
	color: #226BE2
}
footer ul li a{
	color: #fff;
	text-decoration: none;
	display: inline-block;
    margin-top: 5px;
}
footer ul{
	text-align: right;
}
footer ul li{
	list-style: none;
	display: inline-block;
	padding: 0 17px
}



















































