*, ul{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #737373;
    box-sizing: border-box;
}
.container{
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.wrap-header{
	position: absolute;
    z-index: 2;
    width: 100%;
    top: 30px
}
.wrap-header .logo{}
.wrap-header .logo h1{
	margin:0;
	display: flex;
	padding-top: 13px
}
.wrap-header .menu{}
.wrap-header .menu ul.list-menu{
	display: block;
}
.menu .list-menu li.item-menu{
	display: inline-block;
}
.menu .list-menu a.item_menuHeader{
	display: inline-block;
	text-transform: capitalize;
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	padding: 10px 16px;
	border-radius: 25px;
	transition: .3s

}
.menu .list-menu .item-menu:hover a.item_menuHeader{
	background: #fff;
	color: #4085F6
}

.wrap-header .tryFor{
}
.wrap-header .tryFor a{
	background: #fff;
	border-radius: 30px;
	display: inline-block;
	color: #4085F6;
	text-decoration: none;
	padding:10px 20px;
	font-size: 22px;
}
@media (min-width: 768px){
.col-md-2{
	flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.row .col-md-8{
	flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
 
    max-width: 41.666667%;
}.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
}
.row [class*= col-md-]{
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	width: 100%;
}
/*sectionheader*/
.section-header{
	position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 50px
}
.section-header img{
	object-fit: cover;
}
.section-header .image_item{
position: absolute;
top: 0;
right: 0;
z-index: 1;
}
.wrap-main-header .img-main img{
	display: inline-block;
    border-radius: 55px;
}
.image-header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.content_ h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 46px;
	color: #fff;
	font-weight: 600
}
.content_ p{
	color: #fff;
	margin-bottom: 35px
}
.wrap-main-header{
	display: flex;
	position: relative;
	padding-top: 80px;
	color: #fff
}
.wrap-main-header .img-main{
	width: 40%;
	margin-top: 65px
}
.wrap-main-header .content-main{
	position: relative;
	width: 60%;
	color: #fff
}
.wrap-main-header .content-main .content_{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	text-align: right;
}
.content_ .app-check{
	padding-top: 30px
}
.content_ .app-check a{
	display: inline-flex;
	background:#22233A;
	padding: 20px 28px;
	border-radius: 45px;
	text-decoration: none
}
.content_ .app-check .app-store{
	margin-right: 25px
}
.content_ .app-check .ch-play{}
.app-check .img-logo{
	margin-right: 20px;
}
.app-check .img-logo img{
	width: 37px;
    object-fit: cover;
    margin-top: 4px
}
.app-check .name-app{
	text-align: left
}
.app-check .name-app span{
	display: block;
	color: #fff;
	text-transform: capitalize;
	font-size: 14px
}
.app-check .name-app span:last-child{
	font-size: 20px;
	font-weight: 600
}
/*about*/
.about{
	margin-bottom: 70px
}
.wrap-title{
	width: 80%;
	margin:auto;
	padding:50px 0 35px;
	text-align: center;
}
.about .wrap-title{}
.wrap-title h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
	text-transform: capitalize;
	margin-bottom: 25px
}
.wrap-title p{}
.about .wrap-item-about{
	display: block;
	border-color: #707070;
	box-shadow: 0px 2px 10px #707070d9;
	color: #fff;
	text-decoration: none;
}
.about .wrap-item-about .img-about{
	padding: 30px 15px 15px;
	display: block;
	text-align: center;
	font-size: 16px!important
}
.about .wrap-item-about img{
	display: inline-block;
}
.about .wrap-item-about .name-item-about{
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	margin:15px 0;
	transition: 3s
}
.about .wrap-item-about p{
	display: block;
	font-size: 16px
}
.about .wrap-item-about:hover .name-item-about{
	color: #4085F6
}
/*features*/
.features{
	position: relative;
	margin-bottom: 60px
}
.features .background-features{
	position: relative;
	top: 0;
	width: 100%;
	object-fit: cover;
}
.features .content-features{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.features .wrap-title{
	margin-bottom: 30px
}
.features .wrap-title h3,
.features .wrap-title p{
	color: #fff!important
}
.features .content-item-features{}
.features .content-item-features b{
	font-size: 20px;
	color: #fff;
	margin-bottom: 20px;
	display: block;
	font-family: 'Montserrat', sans-serif;
}
.features .content-item-features p{
	font-size: 16px;
	color: #fff
}
.list-features li{
	list-style: none;
    display: flex;
    padding-top: 25px
}
.list-features li:first-child{
	padding-top: 0
}
.list-features li .img-List-features{
	padding-right: 36px
}
.list-features .img-List-features img{}
.list-features{}
/*pricing*/
.pricing{
	background: #F8F6F6;
	padding:20px 0px 70px 0;
	margin-bottom: 20px
}
.pricing .img-about{
	border:2px solid #226BE2;
	padding:30px 20px;
	border-radius: 10px;
	text-align: center;
	transition: .3s
}
.pricing .img-about:hover{
	padding:40px 20px;
}
.pricing .col-md-4{
	padding-top: 20px;
	padding-bottom: 20px
}
.pricing .name-item-about{
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin-bottom: 20px

}
.pricing .pricing-pce{
	font-size: 36px;
	color: #4085F6;
	display: block;
	font-weight: 700
}
.pricing .name-pricing{
	font-size: 18px;
	font-weight: 600;
	margin: 5px 0 15px;
	display: block;
}
.pricing .listaa{
	margin: 20px 0;
}
.pricing .listaa span{
	font-size: 16px;
	display: inline-block;
	margin-left: 5px;
	padding:3px 0;
}
.pricing .listaa>span{
	display: block;
	font-size: 16px
}
.pricing .listaa img{}
.pricing .purchase{
	text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    border: 2px solid #226BE2;
    border-radius: 25px;
    padding: 10px 25px;
}

/*screeen*/
.screenshots .slider-screen .owl-theme .owl-dots{
	display: none
}
.screenshots .owl-theme .owl-nav {
    margin-top: 30px;
}
.screenshots .owl-carousel .owl-nav button span{
	display: none;
}
.screenshots .owl-carousel .owl-nav button{
	position: relative;
	width: 50px;
	height: 50px;
}
.screenshots .owl-carousel .owl-nav button.owl-prev{}
.screenshots .owl-carousel .owl-nav button.owl-next{}
.screenshots .owl-carousel .owl-nav button.owl-prev:before{
	position: absolute;
	content: url(../images/next.png);
	top: 0;
	left: -30px;
}
.screenshots .owl-carousel .owl-nav button.owl-next:before{
	content: url(../images/prev.png);
	position: absolute;
	top: 0;
	right: -30px
}
.screenshots .owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
}

button,button:active{
	outline: none;
	outline-width: 0;
	outline-style: none
}

#next {
    right: 10px;;
}

#prev {
    left: 10px;
}
.controlSlide .btn-change {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
}
#slider-screen{
	padding:20px 0;
	position: relative;
}
.slider-screen .slide{
	display: inline-block;
}

 #slider-screen .slide {
    width: 20%;
    height: auto;
}

#slider-screen .slide:not(:first-child) {
    display: none;
}



/*say-to*/
.say-to{
	background: #F8F6F6;
	padding-bottom: 115px
}
.say-to .wrap-form-message{
	
}
.say-to .wrap-form-message .location{
	background: #fff;
	
}
.say-to .wrap-form-message .form-message{
	
	
}
.wrap-form-message .location{
	padding-top: 15px;
	padding-bottom: 15px
}
.wrap-form-message .location .item-location{
	padding-left: 10px
}
.wrap-form-message .location b{
	font-size: 17px;
}
.wrap-form-message .location .name-location{
font-size: 15.5PX
}
.wrap-form-message .form-message{

}
.wrap-form-message .form-message input,
.wrap-form-message .form-message textarea{
	width: 100%;
	background:#fff;
	margin-bottom: 15px;
	padding: 10px 15px;
	border:none;
	font-size: 15.5px
}
.wrap-form-message .form-message input{}
.wrap-form-message .form-message textarea{
	margin-bottom: 0
}
.wrap-form-message .form-message button{
	    font-size: 15.5px;
    display: inline-block;
    background: #226BE2;
    position: absolute;
    bottom: -51px;
    left: 15px;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
input, input:focus,textarea,textarea:focus, button, button:focus{
	outline-style: none;
	outline-width: 0;
	outline: none;
}

/*footer*/
footer{
	padding:50px 0;
	background:#13253B;
	color: #fff;
	font-size: 15.5
}
footer div{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px
}
footer div,
footer ul li i{
	color: #fff
}
footer ul li a{
	color: #fff;
	text-decoration: none
}
footer ul{
	text-align: right;
}
footer ul li{
	list-style: none;
	display: inline-block;
	padding: 0 10px
}



















































