/*** Media Queries ***/

@media (max-width: 991px) {
        section#slider .more-slider {
                padding: 1vh 3% 0;
        }

        section#slider .more-slider h4 {
                font-size: 5vw;
                padding: 0 0 15px 0;
        }

    section#slider .slider-wrapper {
        width: 50%;
    }

    section#slider .content {
        padding: 35px;
    }

    section#slider .more-slider a.button {
        margin-top: 4vw;
        max-width: 175px;
        font-size: 15px;
        padding: 5px 0;
    }
}
    
@media (max-width: 768px) {
        section#slider .area {
            padding-right: 0;
            padding-left: 0;
        }
    
        section#slider .slider-wrapper {
        width: 100%;
    }
    section#slider .scroll-wrapper {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }
    section#slider li.slider {
        width: 49.2vw;
    }
    section#slider span.slider-title {
        bottom: 3.5vw;
        font-size: 3.3vw;
    }
    section#slider span.slider-name {
        bottom: 7vw;
        font-size: 3.5vw;
    } section#slider .slide-controls {
        display: none;
    }
     section#slider .more-slider a.button {
        margin-top: 0;
    }
    section#slider {
        padding-bottom: 0;
        margin-left: 0;
    }
    section#slider .more-slider {
        padding-left: 0;
    }
}